@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@400;700&family=VT323&display=swap');

body{
    /* background-image: url('../background/pokeball.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    */

    font-family: 'Roboto', sans-serif;
    color: #333;
    margin: 0;
    padding: 0; 
}
